In [ ]:
# imports
import requests
import pandas as pd
import numpy as np

In [ ]:
# gets data from API
def fetchData(url):
    r = requests.get(url)
    return r.json()

In [ ]:
# calls fetchData function for chosen URL
general_info_json = fetchData('https://fantasy.premierleague.com/api/bootstrap-static/')
fixtures_json = fetchData('https://fantasy.premierleague.com/api/fixtures/')
#players_detailed_json = fetchData('https://fantasy.premierleague.com/api/element-summary/{' + element_id + '}/')
#gameweek_live_json = fetchData('https://fantasy.premierleague.com/api/event/{' + event_id + '}/live/')

In [ ]:
# gets a list of keys of the json
general_info_json.keys()

In [ ]:
# gets a list of keys of the json
fixtures_json[0].keys()

In [ ]:
#creates data frame
elements_df = pd.DataFrame(general_info_json['elements'])

In [ ]:
# gets a list of column headers of the dataframe
elements_df.columns

In [ ]:
fantasy_stats_df = elements_df[['first_name', 'second_name','team','element_type','selected_by_percent','now_cost','transfers_in','transfers_out','value_season', 'total_points']]

In [ ]:
# sorts the view of the dataframe
fantasy_stats_df.sort_values(by=['total_points','value_season'], ascending = False)

In [1]:
#fantasy_stats_df.replace({'element_type' : { 1 : 'GK', 2 : 'DEF', 3 : 'MID' , 4 : 'FOR'}})

In [2]:
player_cost_df = elements_df[['id','second_name','cost_change_event','cost_change_event_fall','cost_change_start','now_cost']]

NameError: name 'elements_df' is not defined

In [ ]:
chance_of_playing_df = elements_df[['id','second_name','chance_of_playing_next_round','chance_of_playing_this_round']]

In [106]:
final_team = {'GK':1,'GK2':2,'DEF1':3,'DEF2':4,'DEF3':5,'DEF4':6,'DEF5':7,'MID1':8,'MID2':9,'MID3':10,'MID4':11,'MID5':12,'FOR1':13,'FOR2':14,'FOR3':15,}

In [206]:
choosing_team_df = elements_df[['id','first_name','second_name','team','element_type','now_cost','status','total_points','value_season']]

In [207]:
choosing_team_df.head(30)

,id,first_name,second_name,team,element_type,now_cost,status,total_points,value_season
0,1,Bernd,Leno,1,1,48,a,4,0.8
1,2,Rúnar Alex,Rúnarsson,1,1,40,u,0,0.0
2,3,Willian,Borges Da Silva,1,3,63,u,0,0.0
3,4,Pierre-Emerick,Aubameyang,1,4,99,a,22,2.2
4,5,Cédric,Soares,1,2,43,a,1,0.2
5,6,Alexandre,Lacazette,1,4,83,a,2,0.2
6,7,Granit,Xhaka,1,3,49,i,4,0.8
7,8,Pablo,Marí,1,2,43,a,1,0.2
8,9,Héctor,Bellerín,1,2,48,u,0,0.0
9,10,Calum,Chambers,1,2,43,a,1,0.2
10,11,Sead,Kolasinac,1,2,43,a,-1,-0.2
11,12,Mohamed Naser,El Sayed Elneny,1,3,45,a,1,0.2
12,13,Ainsley,Maitland-Niles,1,3,53,a,7,1.3
13,14,Rob,Holding,1,2,43,a,0,0.0
14,15,Thomas,Partey,1,3,50,a,7,1.4
15,16,Kieran,Tierney,1,2,49,a,23,4.7
16,17,Nicolas,Pépé,1,3,71,a,14,2.0
17,18,Lucas,Torreira,1,3,45,u,0,0.0
18,20,Edward,Nketiah,1,4,54,a,0,0.0
19,21,Emile,Smith Rowe,1,3,53,a,25,4.7
20,22,Bukayo,Saka,1,3,63,a,29,4.6
21,23,Gabriel,Magalhães,1,2,50,a,23,4.6
22,24,Konstantinos,Mavropanos,1,2,45,u,0,0.0
23,25,Mattéo,Guendouzi,1,3,45,u,0,0.0
24,26,Gabriel Teodoro,Martinelli Silva,1,3,52,a,4,0.8
25,27,William,Saliba,1,2,45,u,0,0.0
26,67,Ben,White,1,2,44,a,22,5.0
27,466,Nuno,Varela Tavares,1,2,43,a,3,0.7
28,478,Albert,Sambi Lokonga,1,3,49,a,10,2.0
29,530,Folarin,Balogun,1,4,49,a,2,0.4

In [208]:
# removes all players who currently are not 100% available for the next game
choosing_team_df = choosing_team_df[choosing_team_df.status == 'a']

In [209]:
# removes all players who currently have no record of form
choosing_team_df = choosing_team_df[choosing_team_df.total_points != '0.0']

In [1]:
choosing_team_df.sort_values(by=['value_season'], ascending = False).head()

NameError: name 'choosing_team_df' is not defined

In [111]:
#elements_df.loc[df['column name'] condition, 'new column name']